@{
    ViewData["Title"] = "Contact";
}
<h2>联系🐺</h2>
<h3>我的联系方式页面</h3>

<address>
    可以使用的联系方式<br />
    三亚学院, WA 972000<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">1434287983@QQ.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">1434287983@QQ.com</a>
</address>
